/* テーマカラーの定義 */
:root {
  --primary-color: #126bd2; /* メインカラー */
  --accent-color: #22ab64; /* アクセントカラー */
  --base-color: #fff; /* ベースカラー */
  --font-color: #333; /* フォントカラー */
}

/* グローバルスタイル */
body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
  background-color: var(--base-color);
}

/* モバイルファースト: デフォルトのスタイル */
#root {
  width: 100%;
  max-width: 100vw;
  text-align: center;
  overflow-x: hidden;
}

/* タブレット向け */
@media screen and (min-width: 768px) {
  #root {
    margin: 0 auto;
  }
}

/* デスクトップ向け */
@media screen and (min-width: 1024px) {
  #root {
    overflow-x: visible; /* PCでoverflow-hiddenを解除 */
  }
}

a:hover {
  color: var(--primary-color);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.solid:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
