@import "normalize.css";

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Medium.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
